h1 {
            color: white;
            font-size: 50px;
        }

        p {
            font-size: 22px;
            margin-bottom: 30px;
        }

        form {
            border: 1px solid black;
            padding: 30px;
            background-color: white;
            width: 600px;
            margin: 0 auto;
             border-radius: 10px;
        }